@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Sedgwick+Ave&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 1400px;
    background:black;
    background-repeat: no-repeat;
    background-size: 1400px;
    object-fit: fill;    
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
    background-image:url(imagens/Sm6V.gif);
    background-color: black;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    border-bottom: 1px solid rgba(250, 248, 248, .5);
    z-index: 1000;
   
   

    }
    header.sticky{
        height: 90px;
        
    }
    

    header .banner{
        position:absolute;
        left:-300px;
        bottom: 0;
        height: 250px;
        object-fit: cover;
        transition:1s;
        
        

        
        }
   

    header.sticky .banner{
        opacity:0.5;
        
        
    }

    header .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:  translate(-50%,-50%);
        font-size: 15vh;
        color:#fff;
        font-weight: 700;
        transition:1s;
        text-decoration: none;
        z-index: 1;
        
        

    }
    header.sticky .logo{
        position:absolute;
        font-size: 2em;
        left: 100px;
        transform:  translate(-4.5%);
        
        
        }
       

    nav{
        position: relative;
        display: flex;
        z-index: 1;

    }
    nav ul{
       position: relative;
       display: flex;
       transition: 0.25s;
       transform: translateX(100px);
       opacity:0;
    }

    header.sticky nav ul{

        transform: translateX(0);
       opacity:1;
       transition-delay: 0.75s;
    }
    nav ul li{
        list-style-type: none;

    }

    nav ul li a{
        display: inline-block;
        color:white;
        padding: 10px 15px;
        font-size: 1.2em;
        text-decoration: none;
        font-family: 'Nunito Sans', sans-serif;
        transition: 1s ease;
    }
    

    nav ul li a:hover{
        color:rgb(224, 0, 0);
        transform:scale(1.2);
    }
    section{
        margin-top: 50vh;
        padding: px;

    }
    section h2{
        font-size: 3em;
    }
    section p{
        font-size: 1.2em;
    }
    @media(max-width:1650px){
        #designer{
            width: 500px;
            height: 300px;
           
            
        }
    }
    @media(max-width:700px){
        #designer{
            width: 250px;
            height: 200px;
            
        }
        .ul{
            margin:100px;
            width: 100%;
             }
             .image5{
                 margin-right: 100px;
                 
                 
             }
             .container2{
              margin:0;
            }
        
    }
    @media(max-width:577px)
    {
        .image5{
            margin-right: 250px;
            margin-left: 0;
            padding-right: 100px;
        }
        .knoladge{
            margin-left: 150px;
            margin-right: 0;
        }

    }

    @media(max-width:995px)
    {
            
        
        .geral{
            position: relative;
            display: flex;
            flex-direction:column;
            margin-top: 100px;
            z-index:-40;
            justify-content: center;
                 align-items: center;
                 margin-bottom: 40px;
            

             }
             .containerfade, .cara{
                 width: 100%;
                 height: 100%;
                 display: inline;
                
                
             }
            
             }
        header
        {
            padding: 40px;
            
        }
        
        
        section h2
        {
            font-size: 2em;
            color: #fff;
        }
        header.sticky .logo
        {
            left: 40px;
            
        }
        header.sticky .banner
        {
            opacity:0;
            
            
        }
        nav ul
        {
            display: none;
            opacity: 0;
            visibility: hidden;
            
            
        }
        nav.active ul{
            position: fixed;
            top: 80px;
            left: 0;
            width:100%;
            height: calc(100% - 80px);
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 1;
            visibility: visible;
            color: white;
            
            
            
        }

        nav ul li a
        {
            font-size: 2em;
            
        }
        header.sticky .toggle
        {
           position: fixed;
           top: 15px;
           right: 40px;
           width: 50px;
           height: 50px;
           cursor: pointer;
           background: rgb(2, 2, 2) url(imagens/menu.jpg);
           background-size: 100px;
           background-repeat: no-repeat;
           background-position: center;
           
           
          
        }
        header.sticky .toggle.active
        {
            background: rgb(5, 5, 5) url(imagens/back.jpg);
           background-size: 100px;
           background-repeat: no-repeat;
           background-position: center;
           z-index: 6;
           
           
           
        }
    
    #designer{  
        position: relative;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation: fill 0.9s ease forwards 4.5s;
        
    }
    #designer path:nth-child(1){
stroke-dasharray:564;
stroke-dashoffset:564;
animation:line-anim 2s ease forwards;
}
#designer path:nth-child(2){
stroke-dasharray:460;
stroke-dashoffset:460;
animation: line-anim 2s ease forwards 0.3s;
}
#designer path:nth-child(3){
stroke-dasharray:441;
stroke-dashoffset:441;
animation: line-anim 2s ease forwards 0.6s;
}
#designer path:nth-child(4){
stroke-dasharray:460;
stroke-dashoffset:460;
animation: line-anim 2s ease forwards 0.9s;
}
#designer path:nth-child(5){
stroke-dasharray:306;
stroke-dashoffset:306;
animation: line-anim 2s ease forwards 1.2s;
}
#designer path:nth-child(6){
stroke-dasharray:564;
stroke-dashoffset:564;
animation: line-anim 2s ease forwards 1.5s;
}
#designer path:nth-child(7){
stroke-dasharray:438;
stroke-dashoffset:438;
animation: line-anim 2s ease forwards 1.8s;
}
#designer path:nth-child(8){
stroke-dasharray:460;
stroke-dashoffset:460;
animation: line-anim 2s ease forwards 2.1s;
}
#designer path:nth-child(9){
stroke-dasharray:541;
stroke-dashoffset:541;
animation: line-anim 2s ease forwards 2.4s;
}
    @keyframes line-anim {
        to{
            stroke-dashoffset: 0;
            
        }
    }
    @keyframes fill{
        from{
            fill: transparent;
        }
        to{
         fill:white;
        }
    }
    
    @keyframes pisca{
        0%, 100%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
    }
  
   .me h2{
       padding-bottom: 50px;
       font-family: 'Playfair Display', serif;
   }
    #texto{
        letter-spacing: 1px;
        font-family: 'Nunito Sans', sans-serif;
        z-index: -100;
        color: #fff;
    }
    #texto::after{
        content:'|';
        margin-left:5px;
        opacity:1;
        animation: pisca 1s infinite;
        position: relative;
        z-index: -50;
        
        }
        .me{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 50px;
        }
        .me h2{
            color: #fff;
        }
        

             section h2 span{
        font-size: 2em;
        color:red;
        
    }
    #e{
        font-family: 'Playfair Display', serif;
        font-size: 1.5em;
        color: rgb(245, 7, 7);
    }
 
  
    
    
  



.box1 img{
position: absolute;
bottom:0;
height: 90%;
transition:height 0.5s;
}
.box1:hover img{
height: 480px;
}
    
    
        
    
    
    .geral{
        display: flex;
        overflow: hidden;
        
    }
    .cara{
        
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        height: 100vh;
        margin-bottom: 90px;
        width: 90%;
        justify-content: center;
        align-items: center;
        
        
    }
    #paragraf{
        
        font-size: 1.5em;
        letter-spacing: -0.09em;
        line-height: 0.8em;
        background-image: url(imagens/man1.png), url(imagens/man1.png);
        background-blend-mode:color-burn;
        background-position:left;
        background-size:contain;
        background-attachment: fixed;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color:transparent;
        background-repeat: no-repeat;
        z-index: 2;
        margin-bottom: 50px;
        
       
    }
    .containerfade{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        flex-direction: column;
        padding-top: 200px;
        
    }
    

    .divfade{
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
        height: 0 auto;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right,rgba(245, 22, 22, 0), rgba(255, 166, 0, 0));
        color: black;
        margin:10px;
        border-radius: 8px;
        color: white;
        /*box-shadow: 30px 10px 10px rgba(255, 251, 251, 0.376);*/
        padding: 1rem;
        z-index: -100;
        
        
    }
    
    #textoe{
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 3px;
        font-family: 'Nunito Sans', sans-serif;
        }
        #textoe span{
            font-size: 12em;
            font-family: serif;
            color: red;
        }
    #textoee{
        color: red;
        font-size: 40px;
        line-height: 3rem;
        letter-spacing: 5px;
        font-family: 'Nunito Sans', sans-serif;
       
    }
    #textoee span{
        font-size:6rem;
            font-family:sans-serif;
            color: rgb(245, 244, 244);
    }
   
    
    .container2{
        position:relative;
        
        display: flex;
        width: 90%;
        height: 80%;
        background-color: rgba(0, 0, 255, 0);
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    
    
    
    .image5{
        
        
        display: flex;
        width: 50%;
        height: 80%;
        padding: 5px;
        margin-bottom: 100px;
        
        
    }
    .text5{
        color: white;
        display: flex;
        width: 100px;
        height:100px;
        background-color: rgba(241, 28, 28, 0);
        margin: 5px;
        font-family: 'Herr Von Muellerhoff', cursive;
        font-size: larger;
        font-weight: 200;
        font-size: 100px;
        letter-spacing: 2px;
       
        
    }
    .text5 img{
        width: 60px;
        height: 60px;
    }
    .container5{
        
        width: 500px;
        justify-content:center;
        justify-items: center;
        position: relative;
        display: flex;
        -webkit-box-reflect: below 1px linear-gradient( transparent,rgba(0, 0, 0, 0.199));

}
.container5 .box5{
position: relative;
width: 320px;
height: 400px;
background: #444;
margin:0 20px;
border-radius: 200px 200px 0 0;
background: linear-gradient(45deg,rgb(7, 7, 7) 25%,
#fc1111 25%, rgb(7, 7, 7) 50%,rgb(7, 7, 7) 50%, rgb(7, 7, 7) 75%,
#fc1111 75%, rgb(7, 7, 7) 100%);
background-size: 40px 40px;
filter:grayscale(1);
animation: animateBg 5s linear infinite;
animation-play-state: paused;
transition: filter 1s;
display: flex;
justify-content: center;

}

.container5 .box5:hover 
{
animation-play-state: running;
filter:grayscale(0);
}
@keyframes animateBg 
{
0%
{
    background-position: 0;
}
0%
{
    background-position: 40px;
}
}
.box5 img{
position: absolute;
bottom:0;
height: 90%;
transition:height 0.5s;
}
.box5:hover img{
height:420px;
}
.knoladge{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 100px;
width: 50%;
height: auto;
}

/*cv button*/


.ul{
position:absolute;
display: flex;
transform-style: preserve-3d;
transform: rotate(-25deg) skew(25deg);

right: 400px;

}
.ul .li{
position: absolute;
list-style-type: none;
width: 60px;
height:60px;
margin:20px 10px;

}

.ul .li:before{
content:'';
position: absolute;
bottom: -10px;
left: 0;
width: 100%;
height: 10px;
background-color: #2a2a2a;
transform-origin: top;
transform:skewX(-41deg);
}
.ul .li:after{
content:'';
position: absolute;
top: 0;
left: -9px;
width: 9px;
height: 100%;
background-color: #2a2a2a;
transform-origin: right;
transform:skewY(-49deg);
}


.ul .li span{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex !important;
justify-content: center;
align-items: center;
background: #333;
color: rgba(255, 255, 255,0.2);
font-size: 30px !important;
transition: 0.2s;

}
.ul .li:hover span{
z-index: 1000;
transition: 0.5s;
color: #fff;
box-shadow: -1px 1px 1px rgba(0,0,0, 0.5);
}

li:hover span:nth-child(5)
{
transform: translate(40px, -40px);
opacity: 1;
}

ul li:hover span:nth-child(4){
transform: translate(30px, -30px);
opacity: 1;
}
ul li:hover span:nth-child(3){
transform: translate(20px, -20px);
opacity: 0.6;

}
ul li:hover span:nth-child(2){
transform: translate(10px, -10px);
opacity: 0.4;

}
ul li:hover span:nth-child(1){

transform: translate(0px, 0px);
opacity: 0.2;

}

ul li:nth-child(1):hover span{
background-color: #f70909;


}
/*modal cv*/

#cv{
 cursor: pointer;
 
 
 
}

.modal-bg{
position: fixed;
width: 100%;
height: 100vh;
top: 0;
left: 0;
background-color: rgba(5, 0, 0, 0.671);
display: flex;
justify-content: center;
align-items: center;
visibility: hidden;
opacity: 0;



}

.bg-active{

visibility: visible;
opacity: 1;
animation: anima 1s ease ;
z-index: 1000;

}


@keyframes anima{
from{
    opacity: 0;
    transform: translateY(200px);
}
to{
    transform: translateY(0px);
    opacity:1;
}
}


.modal{
position: relative;
background-color: aliceblue;
width: 70%;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Nunito Sans', sans-serif;
cursor: pointer;
z-index: 1001;
overflow: scroll;
padding: 10px;
line-height: 1.5rem;

}
.aboutme{
display: flex;
flex-direction: column;
justify-content: space-between;

border-left: 1px solid black;
width: 50%;
height:100%;
padding: 10px 10px;
}
.aboutme img{
width: 180px;
height:180px;
padding: 20px;
}
.academic{

display: flex;
flex-direction: column;
justify-content: space-between;
border-left: 1px solid black;
width: 50%;
height:100%;
padding: 10px 10px;


}


.modal-close{
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-size: 3rem;
font-family: 'Courier New', Courier, monospace;
width: 40px;
color: rgb(255, 0, 0);



}
.hero{
width: 100%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background-color: #2a2a2a;

}
.social-links{
display: flex;

}
.social-links a{
width: 40px;
height: 40px;
text-align: center;
text-decoration: none;
color: #000;
box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
margin: 0 30px;
border-radius: 50%;
position: relative;
overflow: hidden;
transition: transform 0.5s;

}
.social-links a .fab, .fa{
font-size: 25px;
line-height: 40px;
position: relative;
z-index: 10;
transition: 0.5s;

}
.social-links a::after{
content:"";
width: 100%;
height: 100%;
margin-top: -90px;
top: 0;
left: 0;
background-image: linear-gradient(45deg, rgb(253, 176, 176), rgb(247, 10, 10));
position: absolute;
transition: 0.5s;
}

.social-links a:hover::after{
margin-top:0;
}
.social-links a:hover .fab{
color: seashell;

}
.social-links a:hover{
transform: translateY(-10px);
box-shadow: 0 0 20px 10px rgba(247, 6, 6, 0.5);


}

